extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .ui.stacked.segment.gameArea(ng-click="onClickPlayer($event)")
          .circle(
            ng-repeat = "player in players",
            ng-style = "{ 'left': player.position.x + 'px', 'top': player.position.y + 'px'}",
            id = "{{ player.id }}",
            class = "{{ player.color }}"
            )
            .relative
              span.name {{ player.username }}
              //.message
        .ui.items.chat#chat-area
          .item(ng-repeat="message in messages")
            .content(ng-if="!message.type.code")
              span [SERVER] &nbsp;
              a.header.name {{ message.username }} &nbsp;
              .description.message(ng-if="!message.type.message")
                | OFFLINE.
              .description.message(ng-if="message.type.message")
                | ONLINE.
            .content(ng-if="message.type.code")
              a.header.name {{ message.username }} &nbsp;
              .description.message
                | {{ message.text }}
        form.ui.action.input.fluid(ng-submit="newMessage()")
          input(ng-model='message', placeholder='Shu Yerda Yozing...')
          button.ui.button(type='submit') Jo'nat